@model AMS.Model.Relotional.NewsLetter
<div class="tech-btm">
    <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Mail bültenimize abone olun.</h4>
    <p>Teknoloji alanında bloglarımız hakkında mail alın.</p>
    <form asp-action="NewsLetter" asp-controller="Partial" method="post">
        <input type="email" placeholder="Email" asp-for="Mail" required="">
        <input type="submit" value="Kaydol">
    </form>
</div>
