@{
    Layout=null;
}
<link rel="stylesheet" href="~/css/site.css">
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">404</span></h1>
  <p class="output">Aradığınız sayfa bulunamadı.</p>
  <p class="output">Anasayfaya geri dön <a asp-controller="Blog" asp-action="Index">geri dön</a>.</p>
  <p class="output">Görüşmek üzere :)</p>
</div>