@model List<AMS.Model.Relotional.Blog>
<div class="tech-btm">
    <h3>Son gönderiler</h3>
    @foreach (var item in Model)
    {    
    <div class="blog-grids row mb-3">
        <div class="col-md-5 blog-grid-left">
            <a asp-controller="Blog" asp-action="BlogDetails" asp-route-Id="@item.Id">
                <img src="~/web/images/4.jpg" class="card-img-top img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-7 blog-grid-right">

            <h5>
                <a asp-controller="Blog" asp-action="BlogDetails" asp-route-Id="@item.Id" >@item.BlogTitle </a>
            </h5>
            <div class="sub-meta">
                <span>
                    <i class="far fa-clock"></i> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))
                </span>
            </div>
        </div>
    </div>
    }
</div>